[submodule "core/libs/straitx-core"]
	path = core/libs/straitx-core
	url = https://github.com/straitx/core
[submodule "gui/libs/straitx-imgui"]
	path = gui/libs/straitx-imgui
	url = https://github.com/straitx/imgui
[submodule "gui/libs/straitx-graphics"]
	path = gui/libs/straitx-graphics
	url = https://github.com/straitx/graphics
